<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<!-- userLogin消息生产者 -->
	<bean id="userLoginMessageProducer" class="cn.lab.neon.common.jms.EmulateTopicMessageProducer">
		<property name="destination" value="QueueArray_NeonUserLogin"/>
		<property name="template" ref="jmsTemplate" />
	</bean>

	<!-- userLogin消息处理 -->
	<bean id="userLoginProcesser" class="cn.lab.neon.back.jms.UserLoginProcesser" />
	<bean id="userLoginMessageProcesserContainer" class="cn.lab.neon.common.jms.MessageProcesserContainer">
		<property name="destName" value="Queue_NeonUserLogin"/>
		<property name="processerList">
			<list>
				<ref bean="userLoginProcesser" />
			</list>
		</property>
	</bean>
	
	<!-- 消息监听  -->
	<bean id="userLoginListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="userLoginMessageProcesserContainer" />
		<property name="defaultListenerMethod" value="receive" />
	</bean>
	<bean id="userLoginListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="destination" ref="Queue_NeonUserLogin" />	<!-- 监听的队列 -->
		<property name="messageListener" ref="userLoginListener" />
	</bean>

</beans>