<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">

	<!-- userLogin消息生产者 -->
	<bean id="userLoginMessageProducer" class="cn.lab.neon.common.jms.EmulateTopicMessageProducer">
		<property name="destination" value="QUEUE_ARRAY_NAME_NEON_USER_LOGIN"/>
		<property name="template" ref="jmsTemplate" />
	</bean>

	<bean id="userLoginProcesser" class="cn.lab.neon.back.jms.UserLoginProcesser" />
	<!-- userLogin消息消费者 -->
	<bean id="userLoginMessageConsumer" class="cn.lab.neon.common.jms.EmulateTopicMessageConsumer">
		<property name="destName" value="QUEUE_NAME_NEON_USER_LOGIN"/>
		<property name="processerList">
			<list>
				<ref bean="userLoginProcesser" />
			</list>
		</property>
	</bean>

	<bean id="userLoginListener"
		class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg ref="userLoginMessageConsumer" />
		<property name="defaultListenerMethod" value="receive" />
	</bean>

	<!-- 消息监听 TOPIC 模式    -->
	<bean id="orderTopicListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="destination" ref="QUEUE_NAME_NEON_USER_LOGIN" />
		<property name="messageListener" ref="userLoginListener" />
	</bean>

</beans>